<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/inicio.js"></script>
</head>
<body>
Holaaaaaaaa este es el inicio
<form>
    <div>
        <label>Nombre</label>
        <input type="text" id="nombre">
        <label>Informacion</label>
        <input type="text" id="informacion">
        <label>Ubicacion</label>
        <input type="text" id="ubicacion">
        <button type="button" id="btnEnviar">Enviar Formulario</button>
    </div>
    <div id="mensaje"></div>
</form>
</body>
</html>